<div class="main-container">
  <h2 class="article-add-header">Add Article</h2>
  <form class="article-add-form">
    <div class="form-group">
      <input type="text" class="article-add-input" placeholder="Article Title" name="title" #title>
    </div>
    <div class="form-group">
      <input type="text" class="article-add-input" placeholder="Article Image URL (1280 x 720)" name="image" #image>
    </div>
    <div class="form-group">
      <textarea class="article-add-area" placeholder="Article Body" name="body" #body></textarea>
    </div>
    <div class="form-group">
      <button class="form-button" [routerLink]="['/dashboard/']">Cancel</button>
      <button class="form-button form-submit">Save</button>
    </div>
  </form>
</div>
