<div class="main-container">
  <div class="password-container">
    <div class="password-row">
      <h2 class="password-header">Profile > Edit Password</h2>
    </div>
    <div class="password-row">
      <p class="password-label">Current Password:</p>
      <input type="password" class="password-input" placeholder="Current Password" name="currentPassword" #currentPassword>
    </div>
    <div class="password-row">
      <p class="password-label">New Password:</p>
      <input type="password" class="password-input" placeholder="New Password" name="newPassword" #newPassword>
    </div>
    <div class="password-row">
      <button class="password-button" (click)="setOutput()">Cancel</button>
      <button class="password-button password-submit" (click)="updatePassword({currentPassword: currentPassword.value, newPassword: newPassword.value})">Save</button>
    </div>
  </div>
</div>
