<div class="main-container">
  <h2 class="article-edit-header">Add Article</h2>
  <form class="article-edit-form">
    <div class="form-group">
      <input type="text" class="article-edit-input" placeholder="Article Title" name="title" #title>
    </div>
    <div class="form-group">
      <input type="text" class="article-edit-input" placeholder="Article Image URL (1280 x 720)" name="image" ngModel #image>
    </div>
    <div class="article-image-preview" *ngIf="image.value.length > 1">
      <img class="article-image" [src]="image.value">
    </div>
    <div class="form-group">
      <textarea class="article-edit-area" placeholder="Article Body" name="body" #body></textarea>
    </div>
    <div class="form-group">
      <button class="form-button" [routerLink]="['/dashboard/']">Cancel</button>
      <button class="form-button form-submit">Update</button>
    </div>
  </form>
</div>
