/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  outline: 0;
  padding: 0;
}

.flash-success,
.flash-failure {
  background: green;
  color: #f5f5f5;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
}

.flash-failure {
  background: darken(red, 20%);
}
