<div class="main-container">
  <div class="article-container">
    <div class="article">
      <div class="article-title-container">
        <h2 class="article-title">Article Title</h2>
      </div>
      <div class="article-image-container">
        <img class="article-image" src="http://placehold.it/1280x720">
      </div>
      <div class="article-description-container">
        <p class="article-description">Article Info, limited to xxx characters</p>
      </div>
    </div>
  </div>
</div>
