<div class="main-container">
  <div class="articles-container" *ngIf="articles">
    <div class="article" *ngFor="let article of articles">
      <div class="article-title-container">
        <h2 class="article-title" [routerLink]="['article', article.articleId]">{{article.title}}</h2>
      </div>
      <div class="article-image-container" *ngIf="article.mainImageUrl">
        <img class="article-image" src="{{article.mainImageUrl}}">
      </div>
      <div class="article-description-container" [ngStyle]="descriptionStyle(article)">
        <p class="article-description">{{article.description}}</p>
      </div>
    </div>
  </div>
</div>
