<div class="main-container">
  <div class="article-container" *ngIf="article">
    <div class="article">
      <div class="article-title-container">
        <h2 class="article-title">{{article.title}}</h2>
      </div>
      <div class="article-image-container" *ngIf="article.mainImageUrl">
        <img class="article-image" src="{{article.mainImageUrl}}">
      </div>
      <div class="article-description-container">
        <p class="article-description">{{article.description}}</p>
      </div>
    </div>
  </div>
</div>
