<div class="main-container">
  <div class="logo-container">
    <h2 class="logo">Blogular</h2>
    <a class="fa fa-bars navbar-toggle" (click)="toggleMenu()"></a>
  </div>
  <div class="navbar-output-container">
    <h3 class="navbar-intro">Navigation</h3>
    <ul class="navbar-top-level-list">
      <li class="navbar-top-level-item" >
        <div class="top-level-item-container">
          <a class="fa fa-users"></a>
          <p class="top-level-item-header">Users</p>
          <a class="fa fa-caret-down" (click)="toggleSubMenu(0)"></a>
        </div>
      </li>
      <li class="navbar-top-level-item">
        <div class="top-level-item-container">
          <a class="fa fa-book"></a>
          <p class="top-level-item-header">Blogs</p>
          <a class="fa fa-caret-down" (click)="toggleSubMenu(1)"></a>
        </div>
      </li>
      <li class="navbar-top-level-item">
        <div class="top-level-item-container">
          <a class="fa fa-pencil"></a>
          <p class="top-level-item-header">Posts</p>
          <a class="fa fa-caret-down" (click)="toggleSubMenu(2)"></a>
        </div>
        <ul class="navbar-second-level-list">
          <li class="navbar-second-level-item">
            <div class="second-level-item-container">
              <a class="fa fa-users"></a>
              <p class="second-level-item-header">Posts</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
