@import "../../sass/_variables";

.main-container {
  width: 100%;
  @media (min-width: 1024px) {
    width: 300px;
  }
}

.logo-container {
  align-items: center;
  background: $primary-color;
  display: flex;
  font-size: 0.9em;
  height: 50px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.logo {
  color: #f5f5f5;
}

.navbar-toggle {
  color: #f5f5f5;
  font-size: 1.6em;
  position: absolute;
  left: 10px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.navbar-output-container {
  background: #2E363F;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  @media (min-width: 1024px) {
    min-height: calc(100vh - 100px)
  }
}

.navbar-intro {
  align-items: center;
  color: #aaa;
  display: flex;
  font-style: italic;
  height: 45px;
  margin-left: 10px;
  width: 100%;
}

.navbar-top-level-menu {
  color: #aaa;
  list-style: none;
  width: 100%;
}

.navbar-top-level-item {

}

.top-level-item-content {
  align-items: center;
  display: flex;
  height: 45px;
  width: 100%;
}

.top-level-item-header {

}

// SECOND LEVEL MENU STYLES

.navbar-second-level-menu {
  height: 0px;
  list-style: none;
  overflow: hidden;
  transition: all 0.3s ease;
}

.navbar-second-level-item {
}

.second-level-item-content {
  height: 45px;
}

.second-level-item-header {

}

// SECOND LEVEL MENU STYLES END
