@import "../../sass/_variables";

.main-container {
  width: 100%;
  @media (min-width: 1024px) {
    position: fixed;
    width: 300px;
  }
}

.logo-container {
  align-items: center;
  background: $primary-color;
  display: flex;
  font-size: 0.9em;
  height: 50px;
  justify-content: center;
  position: relative;
  text-align: center;
}

.logo {
  color: #f5f5f5;
}

.navbar-toggle {
  color: #f5f5f5;
  font-size: 1.6em;
  padding: 10px;
  position: absolute;
  left: 5px;
  @media (min-width: 1024px) {
    display: none;
  }
}

.navbar-output-container {
  background: #2E363F;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  @media (min-width: 1024px) {
    min-height: calc(100vh - 50px);
  }
}

.navbar-intro {
  align-items: center;
  border-bottom: 1px solid darken(#2E363F, 10%);
  color: #aaa;
  display: flex;
  font-style: italic;
  height: 45px;
  margin-left: 10px;
  width: 100%;
}

.navbar-top-level-menu {
  border-bottom: 1px solid lighten(#2E363F, 10%);
  color: #aaa;
  list-style: none;
  width: 100%;
}

.top-level-item-content {
  align-items: center;
  border-bottom: 1px solid darken(#2E363F, 10%);
  border-top: 1px solid lighten(#2E363F, 10%);
  cursor: pointer;
  display: flex;
  height: 45px;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

.top-level-item-content > .fa {
  margin-right: 15px;
}

.top-level-item-content:hover {
  background: $primary-color;
}

.fa-caret-down {
  position: absolute;
  right: -10px;
  padding: 10px;
}

// SECOND LEVEL MENU STYLES

.navbar-second-level-menu {
  height: 0px;
  list-style: none;
  overflow: hidden;
  transition: all 0.3s ease;
}

.second-level-item-content {
  align-items: center;
  border-bottom: 1px solid darken(#2E363F, 10%);
  border-top: 1px solid lighten(#2E363F, 10%);
  cursor: pointer;
  display: flex;
  height: 45px;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

.second-level-item-content:hover {
  background: $primary-color;
}

.second-level-item-content > .fa {
  margin-right: 15px;
}

// SECOND LEVEL MENU STYLES END
