<div class="main-container">
  <div class="logo-container">
    <h2 class="logo">Blogular</h2>
    <a class="fa fa-bars navbar-toggle" (click)="menuVisible = !menuVisible"></a>
  </div>
  <div class="navbar-output-container" (window:resize)="menuToggle()" [ngStyle]="menuToggle()">
    <h3 class="navbar-intro">Navigation</h3>
    <ul class="navbar-top-level-menu" *ngIf="loggedInUser">
      <li class="navbar-top-level-item" >
        <div class="top-level-item-content" [routerLink]="['/blog']">
          <a class="fa fa-link"></a>
          <p class="top-level-item-header" [routerLink]="['/blog', loggedInUser.username]">Visit Blog</p>
        </div>
      </li>
      <li class="navbar-top-level-item" >
        <div class="top-level-item-content" [routerLink]="['/dashboard']">
          <a class="fa fa-home"></a>
          <p class="top-level-item-header">Home</p>
        </div>
      </li>
      <li class="navbar-top-level-item" >
        <div class="top-level-item-content" [routerLink]="['/dashboard/profile']">
          <a class="fa fa-user"></a>
          <p class="top-level-item-header">Profile</p>
        </div>
      </li>
      <li class="navbar-top-level-item">
        <div class="top-level-item-content" (click)="setActiveSubMenu(0)">
          <a class="fa fa-pencil"></a>
          <p class="top-level-item-header">Posts</p>
          <a class="fa fa-caret-down"></a>
        </div>
        <ul class="navbar-second-level-menu" [ngStyle]="subMenuToggle(0)">
          <li class="navbar-second-level-item">
            <div class="second-level-item-content" [routerLink]="['/dashboard/articles']">
              <a class="fa fa-cog"></a>
              <p class="second-level-item-header">Manage</p>
            </div>
          </li>
          <li class="navbar-second-level-item">
            <div class="second-level-item-content" [routerLink]="['/dashboard/article/add']">
              <a class="fa fa-plus"></a>
              <p class="second-level-item-header">Add</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
