<div class="main-container">
  <div class="profile-container">
    <div class="profile-row">
      <h2 class="profile-header">Profile</h2>
      <a class="fa fa-pencil"></a>
    </div>
    <div class="profile-row">
      <p class="profile-label">First Name:</p>
      <p class="profile-output">Stephen</p>
    </div>
    <div class="profile-row">
      <p class="profile-label">Last Name:</p>
      <p class="profile-output">Wright</p>
    </div>
    <div class="profile-row">
      <p class="profile-label">Username:</p>
      <p class="profile-output">stephen</p>
    </div>
    <div class="profile-row">
      <p class="profile-label">Email:</p>
      <p class="profile-output">stephen@test.com</p>
    </div>
    <div class="profile-row">
      <p class="profile-label">Password:</p>
      <p class="profile-output">******</p>
    </div>
  </div>
</div>
