<div class="main-container">
  <div class="profile-container" *ngIf="user">
    <div class="profile-row">
      <h2 class="profile-header">Profile > Edit</h2>
    </div>
    <div class="profile-row">
      <p class="profile-label">First Name:</p>
      <input type="text" class="profile-input" placeholder="First Name" name="firstName" value="{{user.firstName}}" #firstName>
    </div>
    <div class="profile-row">
      <p class="profile-label">Last Name:</p>
      <input type="text" class="profile-input" placeholder="Last Name" name="lastName" value="{{user.lastName}}" #lastName>
    </div>
    <div class="profile-row">
      <p class="profile-label">Username:</p>
      <input type="text" class="profile-input" placeholder="Username" name="username" value="{{user.username}}" #username>
    </div>
    <div class="profile-row">
      <p class="profile-label">Email:</p>
      <input type="text" class="profile-input" placeholder="Email" name="email" value="{{user.email}}" #email>
    </div>
    <div class="profile-row">
      <button class="profile-button" (click)="setOutput('profile')">Cancel</button>
      <button class="profile-button profile-submit" (click)="updateProfile({firstName: firstName.value, lastName: lastName.value, username: username.value, email: email.value})">Save</button>
    </div>
  </div>
</div>
