.main-container {
  width: 100%;
}

.notification-bar-container {
  align-items: center;
  background: #2E363F;
  display: flex;
  height: 50px;
  width: 100%;
}

.action-buttons-container {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: auto;
  margin-right: 10px;
}

.fa-power-off,
.fa-user {
  color: #bbb;
  padding: 10px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.fa-power-off:hover {
  color: darken(red, 10%);
}

.fa-user:hover {
  color: #f5f5f5;
}
