<div class="main-container">
  <h2 class="articles-manage-header">Manage Articles</h2>
  <div class="articles-container">
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
    <div class="article">
      <img class="article-image" src="http://placehold.it/320x180">
      <h3 class="article-title">Article title</h3>
      <div class="actions-container">
        <a class="fa fa-pencil"></a>
        <a class="fa fa-trash-o"></a>
      </div>
    </div>
  </div>
</div>
